# Virtual Environment
.venv/
env/

# Editor Settings
.vscode/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Model Weights & Audio Cache
backend/weights/
*.wav
*.flac
*.mp3
*.opus
*.webm
*.ogg
*.m4a

# macOS System Files
.DS_Store
